body {
	background: #d1d1d1;
}

img {
	width: 100%;
}

.masthead h3 {
	background-color: rgba(36, 111, 153, 0.80);
	padding: 5px 10px;
	border-radius: 5px;
	color: #d1d1d1;
}

.service {
	border-bottom: solid 1px #ccc;
	padding: 20px 0;
}

#doyle-logo {
	width: 30px;
}

#social-logos img {
	width: 30px;
}

#location {
	list-style: none;
	font-size: 1.3em;
	padding-top: 20px;
}

ul#location {
	padding-left: 0;
}

#location li {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;

}

#about p {
	font-size: 1.3em;
}