/*

font-family: 'Montserrat', sans-serif;
font-family: 'Arimo', sans-serif;

*/


body {
	font-family: 'Arimo', sans-serif;
	background-color: #c6c6c6;

}

.row-margin-top-30 {
	margin-top: 30px;
}

.jumbotron img {
	width: 100%;
}

.service img {
	width: 100%;
	border-radius: 10px;
}

li {
	list-style: none;
	padding: 5px 0;
}

.masthead h3 {
	background-color: #224467;
	padding: 5px 10px;
	border-radius: 5px;
	color: #d1d1d1;
}

.jumbotron {
	padding: 0;
	margin-top: 40px;
}

.jumbotron h1 {
	margin-top: 50px;
	font-size: 4em;

}

.jumbotron li {
	font-size: 1.3em;
}

.well {
	background-color: rgba(86, 86, 86, 0.6);
	border: 1px solid #224467;

}

.well p, .well li {
	color: #e3e3e3;
}

.service {
	border-bottom: solid 1px #ccc;
	padding: 20px 0;
}

#doyle-logo {
	width: 30px;
}

#social-logos img {
	width: 30px;
}

#location {
	list-style: none;
	font-size: 1.3em;
	padding-top: 20px;
}

ul#location {
	padding-left: 0;
}

#location li {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 10px;

}

#about p {
	font-size: 1.3em;
}

#email a {
	color: #224467;
}

.footer-sections {
	margin-top: 40px;
}
